/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.m-full-width {
    width: 100%;
    box-sizing: border-box; 
}
  .m-full-width-xl {
    max-width: 100%;
    box-sizing: border-box; 
}
  .m-float-r {
    float: right; 
}
  .m-float-l {
    float: left; 
}
  